In [ ]:
import os
import openai
import pandas as pd

# Set up your OpenAI API key
api_key = os.environ['OPENAI_API_KEY']
openai.api_key = api_key

# Function to generate predictions using GPT-4 Chat API
def generate_predictions(content):
    completion = openai.ChatCompletion.create(
        model="gpt-4",
        messages=[{"role": "user", "content": content+ "Given a news article, please extract relevant events in the form of dictionaries. Each event should include keys for 'Disease', 'Location,' 'Incident' (either 'case' or 'death'), 'Incident_Type' (either 'new' or 'total'), and 'Number.' If the 'Disease' key is not present in an event, do not include the event in the result. Additionally, please make sure that no duplicate events are included in the list. Provide the extracted events as a list of dictionaries. If no events are extracted, the result should be an empty list."}]
    )
    return completion.choices[0].message['content']

# Read your DataFrame
data = pd.read_csv('output.csv')

# Open a text file for writing predictions
with open('event.txt', 'w') as txt_file:
    # Iterate over rows and generate predictions
    for index, row in data.iterrows():
        trans_article = row['article']
        if pd.notna(trans_article):  # Skip NaN values
            prediction = generate_predictions(trans_article)
            data.at[index, 'predicted_label'] = prediction
            # Write the prediction to the text file
            txt_file.write(prediction)
        txt_file.write('\n')    

# Save the modified DataFrame to a new CSV file
data.to_csv('Event_Extraction_Chatgpt.csv', index=False)

In [14]:
import pandas as pd
data =pd.read_csv('Event_Extraction_Chatgpt.csv')
type(data['true_label'][1])

str

In [15]:
data

,article,true_label,cleaned_true_labels,predicted_label
0,NaN,[],NaN,NaN
1,Fire broke out during gas cylinder refilling i...,[],NaN,The given text does not contain information ab...
2,Increasing cases of lumpy skin disease in Utta...,"[{'Disease': 'Lumpy skin disease', 'Location':...",NaN,"[\n{\n""Disease"": ""lumpy skin disease"",\n""Locat..."
3,"In Jharkhand's Kasturba School, 28 girls fell ...",[],NaN,"[{""Disease"": ""food poisoning"", ""Location"": ""Ka..."
4,Aurangabad news : In Aurangabad in two days he...,[],NaN,"[\n{\n'Disease': 'Heat stroke',\n'Location': '..."
...,...,...,...,...
699,Mumbai Terror Attacks: 14 years of carnage.. C...,[],NaN,The provided news article does not include any...
700,Corona cases increased again in Telangana - On...,"[{'Disease': 'Corona', 'Location': 'Telangana'...",NaN,"[\n{""Disease"": ""Corona"", ""Location"": ""Telangan..."
701,"IPL 2022, CSK Vs DC: Corona once again in IPL....",[],NaN,"[{""Disease"": ""Covid 19"", ""Location"": ""Delhi"", ..."
702,8 laborers died when the truck overturned. Bih...,[],NaN,[]
703,Fire in a 4-storey building.. People jumped fr...,[],NaN,[]

In [20]:
sa = data
sa=pd.read_csv('Event_Extraction_Chatgpt.csv')

sa['predicted_label'] = sa['predicted_label'].apply(lambda x: str([]) if pd.isna(x) else x)

# Using fillna to replace remaining NaN with an empty list
sa['predicted_label'].fillna(str([]), inplace=True)

In [3]:
#Evaluation Metrics for Event Extraction.
import pandas as pd
from scipy.optimize import linear_sum_assignment
data = pd.read_csv('Event_Extraction_Chatgpt.csv')
N = len(data)

def optimal_cost(cost_matrix):
    '''Return the cost of optimal matching by using the bipartite matching algorithm (also known as assingment problem). Objective is to maximize the cost'''
    row_ind, col_ind = linear_sum_assignment(cost_matrix,maximize = True)
    return cost_matrix[row_ind, col_ind].sum()

def isinside(a,b):
    if a.find(b)!=-1 or b.find(a)!=-1:
        return 1
    else:
        return 0

def Soft_match(a,b,key_list):
    '''Soft match is the fraction of the number of keys in a predicted event matched with the GT event out of the total keys'''
    score = 0
    for key in key_list:
        if a[key]==None or b[key]==None or len(str(a[key]))==0 or len(str(b[key]))==0:
            if a[key]==b[key]:
                score+=1
        else:
            if isinside(str(a[key]).replace(",","").lower(),str(b[key]).replace(",","").lower())==1:
                score+=1
             
    return score/len(key_list)


def Hard_match(a,b,key_list):
    '''Hard-match returns 1 if all the keys match between predicted and gt events, else return 0'''
    for key in key_list:
        #print("a[key]",a[key])
        #print("b[key]",b[key])
        if a[key]==None or b[key]==None or len(str(a[key]))==0 or len(str(b[key]))==0:
            if a[key]!=b[key]:
                return 0
        else:
            if isinside(str(a[key]).replace(",","").lower(),str(b[key]).replace(",","").lower())==0:
                return 0
    return 1
def optimal_match_score(N,K,type="soft"):
    '''Master function to get score of optimal-matching between N GT evens and K predicted events.'''
    # print(N,K)
    if N==None or K==None or len(N)==0 or len(K)==0:
        if N==K:
            return 1
        else:
            return 0
    key_list = ["Disease","Location","Incident","Incident_Type","Number"]
    #{'Disease': 'Lumpy skin disease', '': 'Uttarakhand', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '19404'}, {'Disease': 'Lumpy skin disease', 'Location': 'Uttarkhand', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'total', 'Number': '321'}]"
    cost_matrix = []
    for i in N:
        if type=="soft":
            temp = [Soft_match(i,j,key_list) for j in K]
        if type=="hard":
            temp = [Hard_match(i,j,key_list) for j in K]
        # print(temp)
        cost_matrix.append(temp)
    cost_matrix = np.array(cost_matrix)
    cost = optimal_cost(cost_matrix)
    return cost
# Evaluation Metric Precision, Recall and F1
def PRF1(score,true,pred):
    precision = score*(min(true,pred))/pred
    recall = score*(min(true,pred))/true
    F1 = (2*precision*recall)/(precision+recall)
    return precision,recall,F1

def PRF2(score,true,pred):
    '''Return precision, recall and F1. 
    1) precision = (number of true events)*score/(number of predicted events)
    2) Recall = score
    3) F1 = 2*P*R/(P+R)'''
    precision = score*(true)/pred
    recall = score
    F1 = (2*precision*recall)/(precision+recall)
    return precision,recall,F1

In [111]:
print((data.iloc[481,:])['true_label'])
print((data.iloc[481,:])['predicted_label'])

[{'Disease': 'H3N2', 'Location': "J'khand", 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '1'}, {'Disease': 'COVID-19', 'Location': "J'khand", 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '5'}]
[
  {
    "Disease": "H3N2",
    "Location": "J'khand",
    "Incident": "case",
    "Incident_Type": "new",
    "Number": 1
  },
  {
    "Disease": "COVID-19",
    "Location": "J'khand",
    "Incident": "case",
    "Incident_Type": "new",
    "Number": 5
  }
]

In [25]:
#we = data
we=pd.read_csv('Event_Extraction_Chatgpt.csv')

we['predicted_label'] = we['predicted_label'].apply(lambda x: str([]) if pd.isna(x) else x)

# Using fillna to replace remaining NaN with an empty list
we['predicted_label'].fillna(str([]), inplace=True)

In [41]:
import json
import ast
import numpy as np
total_score = 0
total_num_packets = 0
all_labels = []
total_packets_pred= 0
total_packets_true = 0
total_score_hard = 0
t_list = []
tr_list = []
ct = we['predicted_label'].isna().sum()
df_soft = pd.DataFrame(columns=['curr_score'])
df_hard = pd.DataFrame(columns=['curr_score_hard'])

print("ct",ct)
for i in range(1,N):
    print(i)
    
    
    modi = (we['true_label'][i].replace("Incident (case or death)","Incident").replace("Incident Type (new or total)","Incident_Type"))

    #if i == 113:
        #print("Original String:")
        #print(we['true_label'][i])

        #print("Modified String:")
        #print(modi)
    #True_labels = json.loads(modi)
    if(type(we['predicted_label'][i])== float):
        print(we['predicted_label'][i])
    predicted_label_value = (we['predicted_label'][i]).replace("\n","").replace("\'", "\"")
    
    if predicted_label_value.strip() and "The given text does not contain information about any disease, therefore it does not fit the required format for extraction." not in predicted_label_value:
        
        try:
            Pred_labels = json.loads(predicted_label_value)
            t = str(Pred_labels)
            t_list = ast.literal_eval(t)

            # Iterate through dictionaries in the list
            for j in range(len(t_list)):
                for key, value in t_list[j].items():
                    # Check if the value is a string
                    if isinstance(value, str):
                        # Replace single quote (') with an empty string
                        t_list[j][key] = value.replace("'", "") 
        except json.JSONDecodeError as e:
            Pred_labels = []
    else:
        Pred_labels = []

    # Replace Pred_labels with t_list
    Pred_labels = t_list
    tn = str(modi)
    tr_list = ast.literal_eval(tn)
    for j in range(len(tr_list)):
        for key, value in tr_list[j].items():
            if isinstance(value, str):
                tr_list[j][key] = value.replace("'", "")

    True_labels =  tr_list  
    #if(i==113):
        #print(True_labels)     
    curr_score = optimal_match_score(True_labels,Pred_labels,"soft")
    curr_score_hard = optimal_match_score(True_labels,Pred_labels,"hard")
    print("curr_score_",curr_score)
    print("curr_score_hard",curr_score_hard)
    total_packets_pred+=max(1,len(Pred_labels))
    total_packets_true+=max(1,len(True_labels))
    total_score +=curr_score
    total_score_hard+=curr_score_hard
    df_soft.loc[len(df_soft.index)] = [curr_score]

    # Append curr_score_hard to df_hard
    df_hard.loc[len(df_hard.index)] = [curr_score_hard]
df_soft.to_csv('soft_scores.csv', index=False)
df_hard.to_csv('hard_scores.csv', index=False)

    
cumulative_score = total_score/total_packets_true
cumulative_score_hard = total_score_hard/total_packets_true
p,r,f = PRF2(cumulative_score,total_packets_true,total_packets_pred)
print("Average Soft-match score: ",cumulative_score)
print("Soft Precision: ",p)
print("Soft Recall: ",r)
print("Soft F1: ",f)

print("----------------------")

p,r,f = PRF2(cumulative_score_hard,total_packets_true,total_packets_pred)
print("Average Hard-match score: ",cumulative_score_hard)
print("Hard Precision: ",p)
print("Hard Recall: ",r)
print("Hard F1: ",f)

ct 0
1
curr_score_ 1
curr_score_hard 1
2
curr_score_ 1.6
curr_score_hard 0
3
curr_score_ 0
curr_score_hard 0
4
curr_score_ 0
curr_score_hard 0
5
curr_score_ 0.6
curr_score_hard 0
6
curr_score_ 1.0
curr_score_hard 1
7
curr_score_ 0
curr_score_hard 0
8
curr_score_ 3.0
curr_score_hard 3
9
curr_score_ 2.0
curr_score_hard 2
10
curr_score_ 1.0
curr_score_hard 1
11
curr_score_ 1
curr_score_hard 1
12
curr_score_ 2.0
curr_score_hard 2
13
curr_score_ 1
curr_score_hard 1
14
curr_score_ 1.0
curr_score_hard 1
15
curr_score_ 1.0
curr_score_hard 1
16
curr_score_ 1.6
curr_score_hard 0
17
curr_score_ 2.8
curr_score_hard 2
18
curr_score_ 0.8
curr_score_hard 0
19
curr_score_ 0.8
curr_score_hard 0
20
curr_score_ 0.4
curr_score_hard 0
21
curr_score_ 2.8000000000000003
curr_score_hard 0
22
curr_score_ 0
curr_score_hard 0
23
curr_score_ 1
curr_score_hard 1
24
curr_score_ 0
curr_score_hard 0
25
curr_score_ 1.0
curr_score_hard 1
26
curr_score_ 2.4000000000000004
curr_score_hard 0
27
curr_score_ 0
curr_score_hard 0
28
curr_score_ 2.0
curr_score_hard 2
29
curr_score_ 2.6
curr_score_hard 1
30
curr_score_ 1.8
curr_score_hard 1
31
curr_score_ 2.0
curr_score_hard 2
32
curr_score_ 0
curr_score_hard 0
33
curr_score_ 1.6
curr_score_hard 0
34
curr_score_ 3.2
curr_score_hard 0
35
curr_score_ 1.0
curr_score_hard 1
36
curr_score_ 0
curr_score_hard 0
37
curr_score_ 5.0
curr_score_hard 1
38
curr_score_ 1
curr_score_hard 1
39
curr_score_ 1
curr_score_hard 1
40
curr_score_ 1
curr_score_hard 1
41
curr_score_ 2.0
curr_score_hard 2
42
curr_score_ 0
curr_score_hard 0
43
curr_score_ 0
curr_score_hard 0
44
curr_score_ 1
curr_score_hard 1
45
curr_score_ 1.0
curr_score_hard 1
46
curr_score_ 1.2
curr_score_hard 0
47
curr_score_ 7.2
curr_score_hard 0
48
curr_score_ 0.8
curr_score_hard 0
49
curr_score_ 2.6
curr_score_hard 1
50
curr_score_ 1
curr_score_hard 1
51
curr_score_ 1
curr_score_hard 1
52
curr_score_ 1
curr_score_hard 1
53
curr_score_ 1.0
curr_score_hard 1
54
curr_score_ 0.8
curr_score_hard 0
55
curr_score_ 1.0
curr_score_hard 1
56
curr_score_ 0
curr_score_hard 0
57
curr_score_ 2.6
curr_score_hard 1
58
curr_score_ 0.8
curr_score_hard 0
59
curr_score_ 1.0
curr_score_hard 1
60
curr_score_ 1
curr_score_hard 1
61
curr_score_ 1
curr_score_hard 1
62
curr_score_ 5.0
curr_score_hard 5
63
curr_score_ 5.0
curr_score_hard 5
64
curr_score_ 0.8
curr_score_hard 0
65
curr_score_ 0.8
curr_score_hard 0
66
curr_score_ 1.0
curr_score_hard 1
67
curr_score_ 0
curr_score_hard 0
68
curr_score_ 3.0
curr_score_hard 3
69
curr_score_ 1.6
curr_score_hard 0
70
curr_score_ 2.6
curr_score_hard 1
71
curr_score_ 1.7999999999999998
curr_score_hard 0
72
curr_score_ 3.0
curr_score_hard 3
73
curr_score_ 1
curr_score_hard 1
74
curr_score_ 1.6
curr_score_hard 0
75
curr_score_ 1
curr_score_hard 1
76
curr_score_ 2.8
curr_score_hard 2
77
curr_score_ 1.0
curr_score_hard 1
78
curr_score_ 1.0
curr_score_hard 1
79
curr_score_ 1
curr_score_hard 1
80
curr_score_ 1
curr_score_hard 1
81
curr_score_ 1
curr_score_hard 1
82
curr_score_ 2.4
curr_score_hard 0
83
curr_score_ 1.0
curr_score_hard 1
84
curr_score_ 0.8
curr_score_hard 0
85
curr_score_ 1.6
curr_score_hard 0
86
curr_score_ 0.8
curr_score_hard 0
87
curr_score_ 1.0
curr_score_hard 1
88
curr_score_ 1.0
curr_score_hard 1
89
curr_score_ 0.8
curr_score_hard 0
90
curr_score_ 0
curr_score_hard 0
91
curr_score_ 0
curr_score_hard 0
92
curr_score_ 1.0
curr_score_hard 1
93
curr_score_ 0
curr_score_hard 0
94
curr_score_ 0
curr_score_hard 0
95
curr_score_ 1
curr_score_hard 1
96
curr_score_ 1.0
curr_score_hard 1
97
curr_score_ 2.0
curr_score_hard 2
98
curr_score_ 0
curr_score_hard 0
99
curr_score_ 1
curr_score_hard 1
100
curr_score_ 1
curr_score_hard 1
101
curr_score_ 0
curr_score_hard 0
102
curr_score_ 1.0
curr_score_hard 0
103
curr_score_ 0.8
curr_score_hard 0
104
curr_score_ 1.0
curr_score_hard 1
105
curr_score_ 1.0
curr_score_hard 1
106
curr_score_ 0
curr_score_hard 0
107
curr_score_ 0
curr_score_hard 0
108
curr_score_ 2.2
curr_score_hard 0
109
curr_score_ 0
curr_score_hard 0
110
curr_score_ 0.8
curr_score_hard 0
111
curr_score_ 1.0
curr_score_hard 1
112
curr_score_ 0.6
curr_score_hard 0
113
curr_score_ 0.6
curr_score_hard 0
114
curr_score_ 0.8
curr_score_hard 0
115
curr_score_ 1
curr_score_hard 1
116
curr_score_ 1.6
curr_score_hard 0
117
curr_score_ 1.0
curr_score_hard 1
118
curr_score_ 0.8
curr_score_hard 0
119
curr_score_ 3.0
curr_score_hard 3
120
curr_score_ 2.4000000000000004
curr_score_hard 0
121
curr_score_ 0.6
curr_score_hard 0
122
curr_score_ 1.0
curr_score_hard 1
123
curr_score_ 0.8
curr_score_hard 0
124
curr_score_ 1
curr_score_hard 1
125
curr_score_ 1
curr_score_hard 1
126
curr_score_ 1.0
curr_score_hard 1
127
curr_score_ 1.0
curr_score_hard 1
128
curr_score_ 0.6
curr_score_hard 0
129
curr_score_ 1
curr_score_hard 1
130
curr_score_ 1
curr_score_hard 1
131
curr_score_ 0.8
curr_score_hard 0
132
curr_score_ 1.4
curr_score_hard 0
133
curr_score_ 1
curr_score_hard 1
134
curr_score_ 1.0
curr_score_hard 1
135
curr_score_ 0
curr_score_hard 0
136
curr_score_ 1
curr_score_hard 1
137
curr_score_ 2.0
curr_score_hard 2
138
curr_score_ 1.6
curr_score_hard 0
139
curr_score_ 0.8
curr_score_hard 0
140
curr_score_ 1.0
curr_score_hard 1
141
curr_score_ 1
curr_score_hard 1
142
curr_score_ 1
curr_score_hard 1
143
curr_score_ 1
curr_score_hard 1
144
curr_score_ 1
curr_score_hard 1
145
curr_score_ 1.7999999999999998
curr_score_hard 0
146
curr_score_ 2.0
curr_score_hard 2
147
curr_score_ 1
curr_score_hard 1
148
curr_score_ 1.8
curr_score_hard 1
149
curr_score_ 0
curr_score_hard 0
150
curr_score_ 1
curr_score_hard 1
151
curr_score_ 0
curr_score_hard 0
152
curr_score_ 0.8
curr_score_hard 0
153
curr_score_ 1
curr_score_hard 1
154
curr_score_ 1
curr_score_hard 1
155
curr_score_ 5.0
curr_score_hard 5
156
curr_score_ 2.0
curr_score_hard 2
157
curr_score_ 1
curr_score_hard 1
158
curr_score_ 1
curr_score_hard 1
159
curr_score_ 1.0
curr_score_hard 1
160
curr_score_ 0.8
curr_score_hard 0
161
curr_score_ 1.0
curr_score_hard 1
162
curr_score_ 0
curr_score_hard 0
163
curr_score_ 2.0
curr_score_hard 2
164
curr_score_ 2.0
curr_score_hard 2
165
curr_score_ 1.0
curr_score_hard 1
166
curr_score_ 1
curr_score_hard 1
167
curr_score_ 1
curr_score_hard 1
168
curr_score_ 0
curr_score_hard 0
169
curr_score_ 1
curr_score_hard 1
170
curr_score_ 3.8
curr_score_hard 3
171
curr_score_ 1
curr_score_hard 1
172
curr_score_ 0
curr_score_hard 0
173
curr_score_ 1.6
curr_score_hard 0
174
curr_score_ 1
curr_score_hard 1
175
curr_score_ 1.6
curr_score_hard 0
176
curr_score_ 1
curr_score_hard 1
177
curr_score_ 1
curr_score_hard 1
178
curr_score_ 1.6
curr_score_hard 0
179
curr_score_ 0
curr_score_hard 0
180
curr_score_ 0.6
curr_score_hard 0
181
curr_score_ 1
curr_score_hard 1
182
curr_score_ 4.0
curr_score_hard 4
183
curr_score_ 1.4
curr_score_hard 0
184
curr_score_ 1
curr_score_hard 1
185
curr_score_ 1
curr_score_hard 1
186
curr_score_ 0.8
curr_score_hard 0
187
curr_score_ 0.8
curr_score_hard 0
188
curr_score_ 0.8
curr_score_hard 0
189
curr_score_ 0.6
curr_score_hard 0
190
curr_score_ 1.8
curr_score_hard 1
191
curr_score_ 4.0
curr_score_hard 4
192
curr_score_ 0
curr_score_hard 0
193
curr_score_ 1.2
curr_score_hard 0
194
curr_score_ 2.0
curr_score_hard 2
195
curr_score_ 0.8
curr_score_hard 0
196
curr_score_ 1.6
curr_score_hard 0
197
curr_score_ 0
curr_score_hard 0
198
curr_score_ 0
curr_score_hard 0
199
curr_score_ 1.8
curr_score_hard 1
200
curr_score_ 0
curr_score_hard 0
201
curr_score_ 0
curr_score_hard 0
202
curr_score_ 1
curr_score_hard 1
203
curr_score_ 2.0
curr_score_hard 2
204
curr_score_ 0
curr_score_hard 0
205
curr_score_ 1.0
curr_score_hard 1
206
curr_score_ 1
curr_score_hard 1
207
curr_score_ 0
curr_score_hard 0
208
curr_score_ 1
curr_score_hard 1
209
curr_score_ 2.0
curr_score_hard 2
210
curr_score_ 0
curr_score_hard 0
211
curr_score_ 1
curr_score_hard 1
212
curr_score_ 1
curr_score_hard 1
213
curr_score_ 1
curr_score_hard 1
214
curr_score_ 0.8
curr_score_hard 0
215
curr_score_ 1
curr_score_hard 1
216
curr_score_ 1.0
curr_score_hard 1
217
curr_score_ 0
curr_score_hard 0
218
curr_score_ 1.0
curr_score_hard 1
219
curr_score_ 2.0
curr_score_hard 2
220
curr_score_ 1
curr_score_hard 1
221
curr_score_ 1.6
curr_score_hard 0
222
curr_score_ 0.8
curr_score_hard 0
223
curr_score_ 1
curr_score_hard 1
224
curr_score_ 1
curr_score_hard 1
225
curr_score_ 1
curr_score_hard 1
226
curr_score_ 2.8000000000000003
curr_score_hard 0
227
curr_score_ 1
curr_score_hard 1
228
curr_score_ 3.0
curr_score_hard 3
229
curr_score_ 0
curr_score_hard 0
230
curr_score_ 2.0
curr_score_hard 2
231
curr_score_ 3.5999999999999996
curr_score_hard 2
232
curr_score_ 3.4000000000000004
curr_score_hard 1
233
curr_score_ 0.6
curr_score_hard 0
234
curr_score_ 2.6
curr_score_hard 1
235
curr_score_ 0
curr_score_hard 0
236
curr_score_ 0
curr_score_hard 0
237
curr_score_ 1.0
curr_score_hard 1
238
curr_score_ 4.3999999999999995
curr_score_hard 2
239
curr_score_ 1
curr_score_hard 1
240
curr_score_ 1.0
curr_score_hard 1
241
curr_score_ 1.0
curr_score_hard 1
242
curr_score_ 1
curr_score_hard 1
243
curr_score_ 1
curr_score_hard 1
244
curr_score_ 1
curr_score_hard 1
245
curr_score_ 0.8
curr_score_hard 0
246
curr_score_ 1
curr_score_hard 1
247
curr_score_ 1.0
curr_score_hard 1
248
curr_score_ 0
curr_score_hard 0
249
curr_score_ 0
curr_score_hard 0
250
curr_score_ 1
curr_score_hard 1
251
curr_score_ 0.8
curr_score_hard 0
252
curr_score_ 1
curr_score_hard 1
253
curr_score_ 1.0
curr_score_hard 1
254
curr_score_ 0
curr_score_hard 0
255
curr_score_ 0.8
curr_score_hard 0
256
curr_score_ 1.6
curr_score_hard 0
257
curr_score_ 1
curr_score_hard 1
258
curr_score_ 1
curr_score_hard 1
259
curr_score_ 1
curr_score_hard 1
260
curr_score_ 0.6
curr_score_hard 0
261
curr_score_ 1.6
curr_score_hard 0
262
curr_score_ 0
curr_score_hard 0
263
curr_score_ 0
curr_score_hard 0
264
curr_score_ 0
curr_score_hard 0
265
curr_score_ 0
curr_score_hard 0
266
curr_score_ 1
curr_score_hard 1
267
curr_score_ 2.0
curr_score_hard 2
268
curr_score_ 9.200000000000001
curr_score_hard 6
269
curr_score_ 0
curr_score_hard 0
270
curr_score_ 1.4
curr_score_hard 0
271
curr_score_ 1
curr_score_hard 1
272
curr_score_ 5.3999999999999995
curr_score_hard 0
273
curr_score_ 1.0
curr_score_hard 1
274
curr_score_ 0
curr_score_hard 0
275
curr_score_ 4.0
curr_score_hard 4
276
curr_score_ 1.0
curr_score_hard 1
277
curr_score_ 4.0
curr_score_hard 4
278
curr_score_ 1
curr_score_hard 1
279
curr_score_ 2.8
curr_score_hard 2
280
curr_score_ 1
curr_score_hard 1
281
curr_score_ 3.4
curr_score_hard 3
282
curr_score_ 1
curr_score_hard 1
283
curr_score_ 1
curr_score_hard 1
284
curr_score_ 1
curr_score_hard 1
285
curr_score_ 1
curr_score_hard 1
286
curr_score_ 0.6
curr_score_hard 0
287
curr_score_ 1.0
curr_score_hard 1
288
curr_score_ 2.0
curr_score_hard 2
289
curr_score_ 0
curr_score_hard 0
290
curr_score_ 2.0
curr_score_hard 2
291
curr_score_ 1
curr_score_hard 1
292
curr_score_ 3.4000000000000004
curr_score_hard 2
293
curr_score_ 1
curr_score_hard 1
294
curr_score_ 1
curr_score_hard 1
295
curr_score_ 1
curr_score_hard 1
296
curr_score_ 1
curr_score_hard 1
297
curr_score_ 1
curr_score_hard 1
298
curr_score_ 1
curr_score_hard 1
299
curr_score_ 0
curr_score_hard 0
300
curr_score_ 1
curr_score_hard 1
301
curr_score_ 3.0
curr_score_hard 3
302
curr_score_ 0.8
curr_score_hard 0
303
curr_score_ 1
curr_score_hard 1
304
curr_score_ 1
curr_score_hard 1
305
curr_score_ 2.0
curr_score_hard 2
306
curr_score_ 1
curr_score_hard 1
307
curr_score_ 2.4000000000000004
curr_score_hard 0
308
curr_score_ 4.2
curr_score_hard 3
309
curr_score_ 1.4
curr_score_hard 0
310
curr_score_ 0
curr_score_hard 0
311
curr_score_ 1
curr_score_hard 1
312
curr_score_ 1
curr_score_hard 1
313
curr_score_ 1.0
curr_score_hard 1
314
curr_score_ 1.0
curr_score_hard 1
315
curr_score_ 1
curr_score_hard 1
316
curr_score_ 1
curr_score_hard 1
317
curr_score_ 1
curr_score_hard 1
318
curr_score_ 1
curr_score_hard 1
319
curr_score_ 1.0
curr_score_hard 1
320
curr_score_ 0.8
curr_score_hard 0
321
curr_score_ 1.4
curr_score_hard 0
322
curr_score_ 0
curr_score_hard 0
323
curr_score_ 2.0
curr_score_hard 2
324
curr_score_ 0
curr_score_hard 0
325
curr_score_ 1
curr_score_hard 1
326
curr_score_ 1
curr_score_hard 1
327
curr_score_ 1.8
curr_score_hard 1
328
curr_score_ 1
curr_score_hard 1
329
curr_score_ 0
curr_score_hard 0
330
curr_score_ 1
curr_score_hard 1
331
curr_score_ 1.0
curr_score_hard 1
332
curr_score_ 1
curr_score_hard 1
333
curr_score_ 0.6
curr_score_hard 0
334
curr_score_ 1
curr_score_hard 1
335
curr_score_ 1
curr_score_hard 1
336
curr_score_ 1.0
curr_score_hard 1
337
curr_score_ 1.2000000000000002
curr_score_hard 0
338
curr_score_ 2.0
curr_score_hard 2
339
curr_score_ 1
curr_score_hard 1
340
curr_score_ 0.8
curr_score_hard 0
341
curr_score_ 3.0000000000000004
curr_score_hard 0
342
curr_score_ 1.4
curr_score_hard 0
343
curr_score_ 1
curr_score_hard 1
344
curr_score_ 2.2
curr_score_hard 0
345
curr_score_ 1
curr_score_hard 1
346
curr_score_ 2.4
curr_score_hard 1
347
curr_score_ 0.8
curr_score_hard 0
348
curr_score_ 1.0
curr_score_hard 0
349
curr_score_ 1
curr_score_hard 1
350
curr_score_ 1
curr_score_hard 1
351
curr_score_ 2.4000000000000004
curr_score_hard 0
352
curr_score_ 0
curr_score_hard 0
353
curr_score_ 0
curr_score_hard 0
354
curr_score_ 3.2
curr_score_hard 0
355
curr_score_ 0
curr_score_hard 0
356
curr_score_ 8.8
curr_score_hard 8
357
curr_score_ 1.6
curr_score_hard 0
358
curr_score_ 2.0
curr_score_hard 2
359
curr_score_ 0
curr_score_hard 0
360
curr_score_ 0
curr_score_hard 0
361
curr_score_ 0.8
curr_score_hard 0
362
curr_score_ 1
curr_score_hard 1
363
curr_score_ 1.0
curr_score_hard 1
364
curr_score_ 2.0
curr_score_hard 2
365
curr_score_ 1
curr_score_hard 1
366
curr_score_ 1
curr_score_hard 1
367
curr_score_ 1.0
curr_score_hard 1
368
curr_score_ 0
curr_score_hard 0
369
curr_score_ 1.4
curr_score_hard 0
370
curr_score_ 0
curr_score_hard 0
371
curr_score_ 1
curr_score_hard 1
372
curr_score_ 0.8
curr_score_hard 0
373
curr_score_ 0
curr_score_hard 0
374
curr_score_ 0.8
curr_score_hard 0
375
curr_score_ 1
curr_score_hard 1
376
curr_score_ 1.0
curr_score_hard 1
377
curr_score_ 2.0
curr_score_hard 2
378
curr_score_ 1
curr_score_hard 1
379
curr_score_ 0
curr_score_hard 0
380
curr_score_ 3.2
curr_score_hard 2
381
curr_score_ 2.4000000000000004
curr_score_hard 0
382
curr_score_ 0.4
curr_score_hard 0
383
curr_score_ 0.6
curr_score_hard 0
384
curr_score_ 1.6
curr_score_hard 0
385
curr_score_ 1.6
curr_score_hard 0
386
curr_score_ 0
curr_score_hard 0
387
curr_score_ 0
curr_score_hard 0
388
curr_score_ 1
curr_score_hard 1
389
curr_score_ 2.0
curr_score_hard 2
390
curr_score_ 1.0
curr_score_hard 1
391
curr_score_ 2.1999999999999997
curr_score_hard 1
392
curr_score_ 0
curr_score_hard 0
393
curr_score_ 0.8
curr_score_hard 0
394
curr_score_ 1
curr_score_hard 1
395
curr_score_ 1
curr_score_hard 1
396
curr_score_ 1
curr_score_hard 1
397
curr_score_ 1.2000000000000002
curr_score_hard 0
398
curr_score_ 6.0
curr_score_hard 6
399
curr_score_ 1.6
curr_score_hard 0
400
curr_score_ 1
curr_score_hard 1
401
curr_score_ 3.0
curr_score_hard 3
402
curr_score_ 1
curr_score_hard 1
403
curr_score_ 1
curr_score_hard 1
404
curr_score_ 1.0
curr_score_hard 1
405
curr_score_ 1.6
curr_score_hard 0
406
curr_score_ 0
curr_score_hard 0
407
curr_score_ 1
curr_score_hard 1
408
curr_score_ 1
curr_score_hard 1
409
curr_score_ 1.6
curr_score_hard 0
410
curr_score_ 1
curr_score_hard 1
411
curr_score_ 1
curr_score_hard 1
412
curr_score_ 0
curr_score_hard 0
413
curr_score_ 0
curr_score_hard 0
414
curr_score_ 1.4
curr_score_hard 0
415
curr_score_ 1
curr_score_hard 1
416
curr_score_ 1.6
curr_score_hard 0
417
curr_score_ 1
curr_score_hard 1
418
curr_score_ 1
curr_score_hard 1
419
curr_score_ 2.0
curr_score_hard 2
420
curr_score_ 1
curr_score_hard 1
421
curr_score_ 2.0
curr_score_hard 2
422
curr_score_ 0.8
curr_score_hard 0
423
curr_score_ 0
curr_score_hard 0
424
curr_score_ 0
curr_score_hard 0
425
curr_score_ 1.6
curr_score_hard 0
426
curr_score_ 1
curr_score_hard 1
427
curr_score_ 0
curr_score_hard 0
428
curr_score_ 3.0
curr_score_hard 3
429
curr_score_ 1
curr_score_hard 1
430
curr_score_ 1
curr_score_hard 1
431
curr_score_ 1
curr_score_hard 1
432
curr_score_ 1
curr_score_hard 1
433
curr_score_ 3.0
curr_score_hard 3
434
curr_score_ 1
curr_score_hard 1
435
curr_score_ 1.0
curr_score_hard 1
436
curr_score_ 2.6
curr_score_hard 1
437
curr_score_ 1.0
curr_score_hard 1
438
curr_score_ 2.0
curr_score_hard 2
439
curr_score_ 1
curr_score_hard 1
440
curr_score_ 5.3999999999999995
curr_score_hard 0
441
curr_score_ 1
curr_score_hard 1
442
curr_score_ 1
curr_score_hard 1
443
curr_score_ 1.2000000000000002
curr_score_hard 0
444
curr_score_ 1.0
curr_score_hard 1
445
curr_score_ 3.0
curr_score_hard 3
446
curr_score_ 1.0
curr_score_hard 1
447
curr_score_ 0
curr_score_hard 0
448
curr_score_ 0
curr_score_hard 0
449
curr_score_ 1.6
curr_score_hard 0
450
curr_score_ 0
curr_score_hard 0
451
curr_score_ 1
curr_score_hard 1
452
curr_score_ 0.4
curr_score_hard 0
453
curr_score_ 0
curr_score_hard 0
454
curr_score_ 2.4000000000000004
curr_score_hard 0
455
curr_score_ 1.8
curr_score_hard 1
456
curr_score_ 1
curr_score_hard 1
457
curr_score_ 1
curr_score_hard 1
458
curr_score_ 1.0
curr_score_hard 1
459
curr_score_ 1
curr_score_hard 1
460
curr_score_ 2.8
curr_score_hard 2
461
curr_score_ 0.8
curr_score_hard 0
462
curr_score_ 0
curr_score_hard 0
463
curr_score_ 1.0
curr_score_hard 1
464
curr_score_ 0
curr_score_hard 0
465
curr_score_ 0
curr_score_hard 0
466
curr_score_ 2.0
curr_score_hard 2
467
curr_score_ 1
curr_score_hard 1
468
curr_score_ 0.8
curr_score_hard 0
469
curr_score_ 0.6
curr_score_hard 0
470
curr_score_ 1
curr_score_hard 1
471
curr_score_ 1
curr_score_hard 1
472
curr_score_ 1
curr_score_hard 1
473
curr_score_ 2.0
curr_score_hard 2
474
curr_score_ 0.8
curr_score_hard 0
475
curr_score_ 1.0
curr_score_hard 1
476
curr_score_ 0.8
curr_score_hard 0
477
curr_score_ 1
curr_score_hard 1
478
curr_score_ 2.8
curr_score_hard 2
479
curr_score_ 0.8
curr_score_hard 0
480
curr_score_ 1
curr_score_hard 1
481
curr_score_ 0
curr_score_hard 0
482
curr_score_ 1
curr_score_hard 1
483
curr_score_ 2.0
curr_score_hard 2
484
curr_score_ 1.6
curr_score_hard 1
485
curr_score_ 0.6
curr_score_hard 0
486
curr_score_ 1
curr_score_hard 1
487
curr_score_ 0.8
curr_score_hard 0
488
curr_score_ 1
curr_score_hard 1
489
curr_score_ 0
curr_score_hard 0
490
curr_score_ 0
curr_score_hard 0
491
curr_score_ 3.5999999999999996
curr_score_hard 2
492
curr_score_ 1
curr_score_hard 1
493
curr_score_ 1
curr_score_hard 1
494
curr_score_ 1
curr_score_hard 1
495
curr_score_ 1
curr_score_hard 1
496
curr_score_ 1.0
curr_score_hard 1
497
curr_score_ 0
curr_score_hard 0
498
curr_score_ 1.8
curr_score_hard 1
499
curr_score_ 1.0
curr_score_hard 1
500
curr_score_ 0.8
curr_score_hard 0
501
curr_score_ 1
curr_score_hard 1
502
curr_score_ 1
curr_score_hard 1
503
curr_score_ 0
curr_score_hard 0
504
curr_score_ 1
curr_score_hard 1
505
curr_score_ 1
curr_score_hard 1
506
curr_score_ 1
curr_score_hard 1
507
curr_score_ 1
curr_score_hard 1
508
curr_score_ 1.0
curr_score_hard 1
509
curr_score_ 0
curr_score_hard 0
510
curr_score_ 2.4000000000000004
curr_score_hard 0
511
curr_score_ 0.8
curr_score_hard 0
512
curr_score_ 1
curr_score_hard 1
513
curr_score_ 1.6
curr_score_hard 0
514
curr_score_ 0.6
curr_score_hard 0
515
curr_score_ 1.0
curr_score_hard 1
516
curr_score_ 1
curr_score_hard 1
517
curr_score_ 1.6
curr_score_hard 0
518
curr_score_ 1
curr_score_hard 1
519
curr_score_ 1.8
curr_score_hard 1
520
curr_score_ 1
curr_score_hard 1
521
curr_score_ 1.6
curr_score_hard 0
522
curr_score_ 1
curr_score_hard 1
523
curr_score_ 1.6
curr_score_hard 0
524
curr_score_ 2.0
curr_score_hard 2
525
curr_score_ 1
curr_score_hard 1
526
curr_score_ 1
curr_score_hard 1
527
curr_score_ 0
curr_score_hard 0
528
curr_score_ 0
curr_score_hard 0
529
curr_score_ 0.8
curr_score_hard 0
530
curr_score_ 1
curr_score_hard 1
531
curr_score_ 1
curr_score_hard 1
532
curr_score_ 1.6
curr_score_hard 0
533
curr_score_ 1
curr_score_hard 1
534

In [42]:
df_soft

     curr_score
0           1.0
1           1.6
2           0.0
3           0.0
4           0.6
..          ...
698         1.0
699         4.0
700         0.0
701         1.0
702         1.0

[703 rows x 1 columns]

In [44]:
df_hard

     curr_score_hard
0                  1
1                  0
2                  0
3                  0
4                  0
..               ...
698                1
699                4
700                0
701                1
702                1

[703 rows x 1 columns]

In [77]:
soft=df_soft.iloc[:,0]
hard=df_hard.iloc[:,0]
#soft
hard

0      1
1      0
2      0
3      0
4      0
      ..
698    1
699    4
700    0
701    1
702    1
Name: curr_score_hard, Length: 703, dtype: int64

In [78]:
import pandas as pd

da = pd.read_csv('Event_Extraction_Chatgpt.csv')
da=da.drop(0)
da.to_csv('your_file.csv', index=False)
ga=pd.read_csv('your_file.csv')
#print(article_column)
new_data = pd.DataFrame({
    'article': ga['article'],
    'true_label': ga['true_label'],
    'predicted_label(Chat_gpt)': ga['predicted_label'],
    'Soft_score':soft,
    'Hard_score':hard,
    
})

new_data.to_csv('Soft_Hard_Scores_Chat_gpt.csv', index=False)

In [70]:
len(da)

703

In [79]:
dm=pd.read_csv('Soft_Hard_Scores_Chat_gpt.csv')
dm

,article,true_label,predicted_label(Chat_gpt),Soft_score,Hard_score
0,Fire broke out during gas cylinder refilling i...,[],The given text does not contain information ab...,1.0,1
1,Increasing cases of lumpy skin disease in Utta...,"[{'Disease': 'Lumpy skin disease', 'Location':...","[\n{\n""Disease"": ""lumpy skin disease"",\n""Locat...",1.6,0
2,"In Jharkhand's Kasturba School, 28 girls fell ...",[],"[{""Disease"": ""food poisoning"", ""Location"": ""Ka...",0.0,0
3,Aurangabad news : In Aurangabad in two days he...,[],"[\n{\n'Disease': 'Heat stroke',\n'Location': '...",0.0,0
4,Ambikapur News:Four people of the same family ...,"[{'Disease': 'Diarrhea', 'Location': 'Ambikapu...","[{'Disease': 'food poisoning', 'Location': 'Pa...",0.6,0
...,...,...,...,...,...
698,Mumbai Terror Attacks: 14 years of carnage.. C...,[],The provided news article does not include any...,1.0,1
699,Corona cases increased again in Telangana - On...,"[{'Disease': 'Corona', 'Location': 'Telangana'...","[\n{""Disease"": ""Corona"", ""Location"": ""Telangan...",4.0,4
700,"IPL 2022, CSK Vs DC: Corona once again in IPL....",[],"[{""Disease"": ""Covid 19"", ""Location"": ""Delhi"", ...",0.0,0
701,8 laborers died when the truck overturned. Bih...,[],[],1.0,1
702,Fire in a 4-storey building.. People jumped fr...,[],[],1.0,1

# Adding more data

In [1]:
import pandas as pd
ev=pd.read_csv('Event_1.csv')

In [2]:
ev

,article,true_label,cleaned_true_labels,predicted_label
0,"Bus falls off bridge in Jharkhand; 6 killed, s...",[],NaN,The provided news article does not include any...
1,"11 killed, 10 injured as jeep rams into tracto...",[],NaN,[]
2,"Covid-19: India sees drop in daily cases, logs...","[{'Disease': 'Covid-19', 'Location': 'India ',...",NaN,"[\n {\n ""Disease"": ""Covid-19"",\n ""Locat..."
3,NaN,[],NaN,NaN
4,"On Children's Day-eve, top specialist says con...",[],NaN,"[{'Disease': 'congenital heart disease', 'Loca..."
5,Indore Reports 10 Vector Borne Diseases In A W...,"[{'Disease': 'Dengue', 'Location': 'Indore', '...",NaN,"[{\n'Disease': 'dengue and malaria', \n'Locati..."
6,India News | No Serious Health Problems from B...,[],NaN,The given news article does not provide inform...
7,"NYC blaze kills 4, including baby | Urban Lege...",[],NaN,[]
8,"India sees 30% rise in Covid tally with 2,786 ...","[{'Disease': 'Covid ', 'Location': 'India', 'I...",NaN,"[\n{\n""Disease"": ""COVID-19"",\n""Location"": ""Ind..."
9,India News | Uttar Pradesh CM Condoles Deaths ...,[],NaN,[]
10,Jammu and Kashmir: Three terrorists killed as ...,[],NaN,[]
11,"Calling man â€˜baldâ€™ is sex-related harassment, ...",[],NaN,[]
12,The human virus: When is the vaccine coming? |...,[],NaN,"[\n\n{\n""Disease"": ""Norovirus"",\n""Location"": ""..."
13,Gujarat: Status of post-Godhra riots cases mon...,[],NaN,The given text does not mention any disease. T...
14,â€˜60 sarpanches committed suicide in Telanganaâ€™...,[],NaN,The instructions also specify extraction based...
15,"85 New Covid Cases Reported In City, Dist | Va...","[{'Disease': 'Covid', 'Location': 'Vadodara', ...",NaN,"[{'Disease': 'Covid-19', 'Location': 'Vadodara..."
16,COVID-19 cases rise to 98 due to institutional...,"[{'Disease': 'COVID-19', 'Location': 'Chennai ...",NaN,"[\n {\n ""Disease"": ""COVID-19"",\n ..."
17,India train crash: Narendra Modi vows the 'har...,[],NaN,The instructions given does not match the cont...
18,Bird flu confirmed in ducks in Alappuzha - The...,"[{'Disease': 'Bird flu', 'Location': 'Alappuzh...",NaN,"[{\n'Disease':'Bird flu',\n'Location':'Alappuz..."
19,Pune city reports 39 cases of Swine Flu in sev...,"[{'Disease': 'Swine Flu', 'Location': 'Pune', ...",NaN,"[\n {\n ""Disease"": ""Swine Flu"",\n ""Loca..."
20,India News | Haryana: 1 Dead as Car Carrying 4...,[],NaN,[]
21,Bihar: Four suffer bullet injuries after chain...,[],NaN,[]
22,Maharashtra: Record 62 patients of BA.4 and BA...,"[{'Disease': 'Omicron', 'Location': 'Maharasht...",NaN,"[{'Disease': 'BA.4', 'Location': 'Maharashtra'..."
23,"India News | UP: Six Killed, 8 Injured in Road...",[],NaN,[]
24,Mysterious Disease In AP's Eluru Claims 1 Life...,"[{'Disease': '', 'Location': 'AP', 'Incident (...",NaN,"[\n {\n ""Disease"": ""Mysterious Disease"",\n..."
25,"Forget Covid, Tomato flu is giving sleepless n...","[{'Disease': 'Tomato flu', 'Location': 'India'...",NaN,"[\n{\n""Disease"": ""Tomata flu"",\n""Location"": ""I..."
26,Bengal records about 309 Covid cases in a day ...,"[{'Disease': 'Covid', 'Location': 'Bengal', 'I...",NaN,"[\n {\n ""Disease"": ""Covid"",\n ""Location..."
27,10 Sevalayam boys treated for food poisoning d...,[],NaN,"[{\n'Disease': 'food poisoning', \n'Location':..."
28,"India News | Goa: 9 Russians, Among 14 Persons...",[],NaN,[]
29,"10,112 fresh COVID cases in India - Jammu Kash...","[{'Disease': 'COVID', 'Location': 'India', 'In...",NaN,"[\n{\n""Disease"": ""COVID-19"",\n""Location"": ""Ind..."
30,"Turkey-Syria quake toll rising every minute, e...",[],NaN,The provided news article does not contain inf...
31,India News | 1997 Uphaar Cinema Fire: Court Re...,[],NaN,[]
32,India News | Delhi Logs 9 New Covid Cases in L...,"[{'Disease': 'Covid', 'Location': 'Delhi', 'In...",NaN,"[{\n""Disease"": ""Covid"",\n""Location"": ""Delhi"",\..."
33,What is â€˜tomato fluâ€™? New virus spreads in Ind...,"[{'Disease': 'tomato flu', 'Location': 'India'...",NaN,"[ \n { ""Disease"": ""Tomato flu"", \n ""Lo..."
34,"India sees single-day rise of 18,930 Covid 19 ...","[{'Disease': 'Covid 19', 'Location': 'India', ...",NaN,"[{\n'Disease': 'Covid 19',\n'Location': 'India..."
35,India News | Man Murdered over Friendship with...,[],NaN,The given news article does not provide inform...
36,India News | Mizoram Logs 33 Fresh Coronavirus...,"[{'Disease': 'COVID-19', 'Location': 'Mizoram'...",NaN,"[{'Disease': 'COVID-19', 'Location': 'Mizoram'..."
37,"Maharashtra records 1,113 new Covid-19 cases a...","[{'Disease': 'Covid-19', 'Location': 'Maharash...",NaN,"[{'Disease': 'Covid-19', 'Location': 'Maharash..."
38,"Assam flood: Toll rises to 25, situation impro...",[],NaN,The given text does not provide information ab...
39,Erode reports four new COVID-19 cases - The H...,"[{'Disease': 'COVID-19', 'Location': 'Erode', ...",NaN,"[{'Disease': 'COVID-19', 'Location': 'Erode', ..."
40,Madhya Pradesh reports 32 new Covid-19 cases |...,"[{'Disease': 'Covid-19', 'Location': 'Madhya P...",NaN,"[\n {\n ""Disease"": ""Covid-19"",\n ""Location""..."
41,"ladakh: Two soldiers among 5 dead as J and K, ...",[],NaN,[]
42,3 new cases raise Nagaland's COVID tally to 31...,"[{'Disease': 'COVID', 'Location': 'Nagaland', ...",NaN,"[{'Disease': 'COVID', 'Location': 'Nagaland', ..."
43,Terrorist who shot dead Bank manager from Kulg...,[],NaN,[]
44,"Snake found in midday meal, 98 children fall i...",[],NaN,[ \n {\n 'Disease': 'Food Poisoning'...
45,"More than 4,800 'victims' of Church sex abuse ...",[],NaN,[]
46,"What is Lumpy Skin disease, affecting lakhs of...","[{'Disease': 'Lumpy Skin Disease', 'Location':...",NaN,"[{\n""Disease"": ""Lumpy Skin disease"",\n""Locatio..."
47,Five cattle die in fire : The Tribune India . ...,[],NaN,[]
48,"Two die of dengue in Mizoram, 1 in Manipur | I...","[{'Disease': 'dengue', 'Location': 'Mizoram', ...",NaN,"[\n{\n""Disease"": ""Dengue"",\n""Location"": ""Mizor..."

In [3]:
ev1=pd.read_csv('Event_Extraction_Chatgpt.csv')
ev1

,article,true_label,cleaned_true_labels,predicted_label
0,NaN,[],NaN,NaN
1,Fire broke out during gas cylinder refilling i...,[],NaN,The given text does not contain information ab...
2,Increasing cases of lumpy skin disease in Utta...,"[{'Disease': 'Lumpy skin disease', 'Location':...",NaN,"[\n{\n""Disease"": ""lumpy skin disease"",\n""Locat..."
3,"In Jharkhand's Kasturba School, 28 girls fell ...",[],NaN,"[{""Disease"": ""food poisoning"", ""Location"": ""Ka..."
4,Aurangabad news : In Aurangabad in two days he...,[],NaN,"[\n{\n'Disease': 'Heat stroke',\n'Location': '..."
...,...,...,...,...
699,Mumbai Terror Attacks: 14 years of carnage.. C...,[],NaN,The provided news article does not include any...
700,Corona cases increased again in Telangana - On...,"[{'Disease': 'Corona', 'Location': 'Telangana'...",NaN,"[\n{""Disease"": ""Corona"", ""Location"": ""Telangan..."
701,"IPL 2022, CSK Vs DC: Corona once again in IPL....",[],NaN,"[{""Disease"": ""Covid 19"", ""Location"": ""Delhi"", ..."
702,8 laborers died when the truck overturned. Bih...,[],NaN,[]
703,Fire in a 4-storey building.. People jumped fr...,[],NaN,[]

In [4]:
ev.columns

Index(['article', 'true_label', 'cleaned_true_labels', 'predicted_label'], dtype='object')

In [5]:
ev1.columns

Index(['article', 'true_label', 'cleaned_true_labels', 'predicted_label'], dtype='object')

In [6]:
result=pd.concat([ev,ev1],axis=0)

In [7]:
result.columns

Index(['article', 'true_label', 'cleaned_true_labels', 'predicted_label'], dtype='object')

In [8]:
result.shape

(753, 4)

In [9]:
result

,article,true_label,cleaned_true_labels,predicted_label
0,"Bus falls off bridge in Jharkhand; 6 killed, s...",[],NaN,The provided news article does not include any...
1,"11 killed, 10 injured as jeep rams into tracto...",[],NaN,[]
2,"Covid-19: India sees drop in daily cases, logs...","[{'Disease': 'Covid-19', 'Location': 'India ',...",NaN,"[\n {\n ""Disease"": ""Covid-19"",\n ""Locat..."
3,NaN,[],NaN,NaN
4,"On Children's Day-eve, top specialist says con...",[],NaN,"[{'Disease': 'congenital heart disease', 'Loca..."
...,...,...,...,...
699,Mumbai Terror Attacks: 14 years of carnage.. C...,[],NaN,The provided news article does not include any...
700,Corona cases increased again in Telangana - On...,"[{'Disease': 'Corona', 'Location': 'Telangana'...",NaN,"[\n{""Disease"": ""Corona"", ""Location"": ""Telangan..."
701,"IPL 2022, CSK Vs DC: Corona once again in IPL....",[],NaN,"[{""Disease"": ""Covid 19"", ""Location"": ""Delhi"", ..."
702,8 laborers died when the truck overturned. Bih...,[],NaN,[]
703,Fire in a 4-storey building.. People jumped fr...,[],NaN,[]

we only want to consider rows which contain true_label

In [10]:
df_fil= result[result['true_label'] != '[]']

In [11]:
df_fil

,article,true_label,cleaned_true_labels,predicted_label
2,"Covid-19: India sees drop in daily cases, logs...","[{'Disease': 'Covid-19', 'Location': 'India ',...",NaN,"[\n {\n ""Disease"": ""Covid-19"",\n ""Locat..."
5,Indore Reports 10 Vector Borne Diseases In A W...,"[{'Disease': 'Dengue', 'Location': 'Indore', '...",NaN,"[{\n'Disease': 'dengue and malaria', \n'Locati..."
8,"India sees 30% rise in Covid tally with 2,786 ...","[{'Disease': 'Covid ', 'Location': 'India', 'I...",NaN,"[\n{\n""Disease"": ""COVID-19"",\n""Location"": ""Ind..."
15,"85 New Covid Cases Reported In City, Dist | Va...","[{'Disease': 'Covid', 'Location': 'Vadodara', ...",NaN,"[{'Disease': 'Covid-19', 'Location': 'Vadodara..."
16,COVID-19 cases rise to 98 due to institutional...,"[{'Disease': 'COVID-19', 'Location': 'Chennai ...",NaN,"[\n {\n ""Disease"": ""COVID-19"",\n ..."
...,...,...,...,...
693,Two more foreigners found Covid-19 positive in...,"[{'Disease': 'Covid-19', 'Location': 'Bodh Gay...",NaN,"[{'Disease': 'Covid-19', 'Location': 'Bodh Gay..."
694,corona cases in india today: Increased corona ...,"[{'Disease': 'Corona', 'Location': 'Kerela', '...",NaN,"[\n {\n 'Disease': 'Covid19',\n 'Locati..."
695,telangana corona cases: TS: New cases approach...,"[{'Disease': 'Corona', 'Location': 'Telangana'...",NaN,"[{\n""Disease"": ""Corona"",\n""Location"": ""Telanga..."
696,A thousand cases increased in 24 hours Prajasa...,"[{'Disease': 'Corona', 'Location': 'India', 'I...",NaN,"[{'Disease': 'Corona', 'Location': 'New Delhi'..."
700,Corona cases increased again in Telangana - On...,"[{'Disease': 'Corona', 'Location': 'Telangana'...",NaN,"[\n{""Disease"": ""Corona"", ""Location"": ""Telangan..."

In [12]:
df_fil.reset_index(drop=True, inplace=True)

In [13]:
df_fil

,article,true_label,cleaned_true_labels,predicted_label
0,"Covid-19: India sees drop in daily cases, logs...","[{'Disease': 'Covid-19', 'Location': 'India ',...",NaN,"[\n {\n ""Disease"": ""Covid-19"",\n ""Locat..."
1,Indore Reports 10 Vector Borne Diseases In A W...,"[{'Disease': 'Dengue', 'Location': 'Indore', '...",NaN,"[{\n'Disease': 'dengue and malaria', \n'Locati..."
2,"India sees 30% rise in Covid tally with 2,786 ...","[{'Disease': 'Covid ', 'Location': 'India', 'I...",NaN,"[\n{\n""Disease"": ""COVID-19"",\n""Location"": ""Ind..."
3,"85 New Covid Cases Reported In City, Dist | Va...","[{'Disease': 'Covid', 'Location': 'Vadodara', ...",NaN,"[{'Disease': 'Covid-19', 'Location': 'Vadodara..."
4,COVID-19 cases rise to 98 due to institutional...,"[{'Disease': 'COVID-19', 'Location': 'Chennai ...",NaN,"[\n {\n ""Disease"": ""COVID-19"",\n ..."
...,...,...,...,...
386,Two more foreigners found Covid-19 positive in...,"[{'Disease': 'Covid-19', 'Location': 'Bodh Gay...",NaN,"[{'Disease': 'Covid-19', 'Location': 'Bodh Gay..."
387,corona cases in india today: Increased corona ...,"[{'Disease': 'Corona', 'Location': 'Kerela', '...",NaN,"[\n {\n 'Disease': 'Covid19',\n 'Locati..."
388,telangana corona cases: TS: New cases approach...,"[{'Disease': 'Corona', 'Location': 'Telangana'...",NaN,"[{\n""Disease"": ""Corona"",\n""Location"": ""Telanga..."
389,A thousand cases increased in 24 hours Prajasa...,"[{'Disease': 'Corona', 'Location': 'India', 'I...",NaN,"[{'Disease': 'Corona', 'Location': 'New Delhi'..."
390,Corona cases increased again in Telangana - On...,"[{'Disease': 'Corona', 'Location': 'Telangana'...",NaN,"[\n{""Disease"": ""Corona"", ""Location"": ""Telangan..."

In [14]:
df_fil['predicted_label'] = df_fil['predicted_label'].apply(lambda x: str([]) if pd.isna(x) else x)

# Using fillna to replace remaining NaN with an empty list
df_fil['predicted_label'].fillna(str([]), inplace=True)

/tmp/ipykernel_2860805/1087754250.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fil['predicted_label'] = df_fil['predicted_label'].apply(lambda x: str([]) if pd.isna(x) else x)
/tmp/ipykernel_2860805/1087754250.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fil['predicted_label'].fillna(str([]), inplace=True)

In [15]:
df_fil.shape

(391, 4)

In [15]:
#Evaluation Metrics for Event Extraction.
import pandas as pd
from scipy.optimize import linear_sum_assignment
#data = pd.read_csv('Event_Extraction_Chatgpt.csv')
N = len(df_fil)

def optimal_cost(cost_matrix):
    '''Return the cost of optimal matching by using the bipartite matching algorithm (also known as assingment problem). Objective is to maximize the cost'''
    row_ind, col_ind = linear_sum_assignment(cost_matrix,maximize = True)
    return cost_matrix[row_ind, col_ind].sum()

def isinside(a,b):
    if a.find(b)!=-1 or b.find(a)!=-1:
        return 1
    else:
        return 0

def Soft_match(a,b,key_list):
    '''Soft match is the fraction of the number of keys in a predicted event matched with the GT event out of the total keys'''
    score = 0
    for key in key_list:
        if a[key]==None or b[key]==None or len(str(a[key]))==0 or len(str(b[key]))==0:
            if a[key]==b[key]:
                score+=1
        else:
            if isinside(str(a[key]).replace(",","").lower(),str(b[key]).replace(",","").lower())==1:
                score+=1
             
    return score/len(key_list)


def Hard_match(a,b,key_list):
    '''Hard-match returns 1 if all the keys match between predicted and gt events, else return 0'''
    for key in key_list:
        #print("a[key]",a[key])
        #print("b[key]",b[key])
        if a[key]==None or b[key]==None or len(str(a[key]))==0 or len(str(b[key]))==0:
            if a[key]!=b[key]:
                return 0
        else:
            if isinside(str(a[key]).replace(",","").lower(),str(b[key]).replace(",","").lower())==0:
                return 0
    return 1
def optimal_match_score(N,K,type="soft"):
    '''Master function to get score of optimal-matching between N GT evens and K predicted events.'''
    # print(N,K)
    if N==None or K==None or len(N)==0 or len(K)==0:
        if N==K:
            return 1
        else:
            return 0
    key_list = ["Disease","Location","Incident","Incident_Type","Number"]
    #{'Disease': 'Lumpy skin disease', '': 'Uttarakhand', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '19404'}, {'Disease': 'Lumpy skin disease', 'Location': 'Uttarkhand', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'total', 'Number': '321'}]"
    cost_matrix = []
    for i in N:
        if type=="soft":
            temp = [Soft_match(i,j,key_list) for j in K]
        if type=="hard":
            temp = [Hard_match(i,j,key_list) for j in K]
        # print(temp)
        cost_matrix.append(temp)
    cost_matrix = np.array(cost_matrix)
    cost = optimal_cost(cost_matrix)
    return cost
# Evaluation Metric Precision, Recall and F1
def PRF1(score,true,pred):
    precision = score*(min(true,pred))/pred
    recall = score*(min(true,pred))/true
    F1 = (2*precision*recall)/(precision+recall)
    return precision,recall,F1

def PRF2(score,true,pred):
    '''Return precision, recall and F1. 
    1) precision = (number of true events)*score/(number of predicted events)
    2) Recall = score
    3) F1 = 2*P*R/(P+R)'''
    precision = score*(true)/pred
    recall = score
    F1 = (2*precision*recall)/(precision+recall)
    return precision,recall,F1

In [17]:
import json
import ast
import numpy as np
import pandas as pd



total_score = 0
total_num_packets = 0
all_labels = []
total_packets_pred = 0
total_packets_true = 0
total_score_hard = 0
t_list = []
tr_list = []
ct = df_fil['predicted_label'].isna().sum()
df_soft = pd.DataFrame(columns=['curr_score'])
df_hard = pd.DataFrame(columns=['curr_score_hard'])
N = len(df_fil)
city_df=pd.read_csv('city.csv')
def replace_location(label, city_df):
    for item in label:
        if 'Location' in item and item['Location'] is not None:
            location_value = item['Location']
           
            for index, row in city_df.iterrows():
                
                if pd.notna(row['variants']):
                   
                    variants = row['variants']
                    if isinstance(variants, str) and any(variant.strip().lower() == location_value.lower() for variant in variants.split('|')):
                        
                        item['Location'] = row['value']
    return label



for i in range(N):
    print(i)
    print(df_fil['true_label'][i])

    modi = (df_fil['true_label'][i].replace("Incident (case or death)", "Incident").replace("Incident Type (new or total)", "Incident_Type"))

    if type(df_fil['predicted_label'][i]) == float:
        print(df_fil['predicted_label'][i])

    predicted_label_value = (df_fil['predicted_label'][i]).replace("\n", "").replace("\'", "\"")

    if predicted_label_value.strip() and "The given text does not contain information about any disease, therefore it does not fit the required format for extraction." not in predicted_label_value:
        try:
            Pred_labels = json.loads(predicted_label_value)
            t = str(Pred_labels)
            t_list = ast.literal_eval(t)

           
            for j in range(len(t_list)):
                for key, value in t_list[j].items():
                    # Check if the value is a string
                    if isinstance(value, str):
                        
                        t_list[j][key] = value.replace("'", "")
            
           
            Pred_labels = replace_location(t_list, city_df)

        except json.JSONDecodeError as e:
            Pred_labels = []
    else:
        Pred_labels = []

    
    Pred_labels = t_list
    
    tn = str(modi)
    tr_list = ast.literal_eval(tn)
    
    
    True_labels = replace_location(tr_list, city_df)
    
    curr_score = optimal_match_score(True_labels, Pred_labels, "soft")
    curr_score_hard = optimal_match_score(True_labels, Pred_labels, "hard")
    print("curr_score_", curr_score)
    print("curr_score_hard", curr_score_hard)
    total_packets_pred += max(1, len(Pred_labels))
    total_packets_true += max(1, len(True_labels))
    total_score += curr_score
    total_score_hard += curr_score_hard
    df_soft.loc[len(df_soft.index)] = [curr_score]

   
    df_hard.loc[len(df_hard.index)] = [curr_score_hard]

df_soft.to_csv('soft_scores.csv', index=False)
df_hard.to_csv('hard_scores.csv', index=False)

cumulative_score = total_score / total_packets_true
cumulative_score_hard = total_score_hard / total_packets_true
p, r, f = PRF2(cumulative_score, total_packets_true, total_packets_pred)
print("Average Soft-match score: ", cumulative_score)
print("Soft Precision: ", p)
print("Soft Recall: ", r)
print("Soft F1: ", f)

print("----------------------")

p, r, f = PRF2(cumulative_score_hard, total_packets_true, total_packets_pred)
print("Average Hard-match score: ", cumulative_score_hard)
print("Hard Precision: ", p)
print("Hard Recall: ", r)
print("Hard F1: ", f)

0
[{'Disease': 'Covid-19', 'Location': 'India ', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '112'}, {'Disease': 'Covid-19', 'Location': 'India ', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new', 'Number': '3'}, {'Disease': 'Covid-19', 'Location': 'India', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'total', 'Number': '5,30,677'}, {'Disease': 'Covid-19', 'Location': 'Kerala', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new', 'Number': '2'}, {'Disease': 'Covid-19 ', 'Location': 'Maharashtra', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new', 'Number': '1'}]
curr_score_ 4.0
curr_score_hard 4
1
[{'Disease': 'Dengue', 'Location': 'Indore', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '10'}, {'Disease': 'Malaria', 'Location': 'Indore', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '10'}]
curr_score_ 1.0
curr_score_hard 1
2
[{'Disease': 'Covid ', 'Location': 'India', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '2786'}, {'Disease': 'Covid ', 'Location': 'India', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total', 'Number': '44621319'}, {'Disease': 'Covid ', 'Location': 'India', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'total', 'Number': '528847'}, {'Disease': 'Covid', 'Location': 'India', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new', 'Number': '12'}, {'Disease': 'Covid ', 'Location': 'Kerala', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new', 'Number': '6'}]
curr_score_ 3.6000000000000005
curr_score_hard 0
3
[{'Disease': 'Covid', 'Location': 'Vadodara', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '85'}, {'Disease': 'Covid-19', 'Location': 'Vadodara', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '162'}]
curr_score_ 2.0
curr_score_hard 2
4
[{'Disease': 'COVID-19', 'Location': 'Chennai ', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': ''}, {'Disease': 'COVID-19', 'Location': 'Chengalpattu', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': ''}, {'Disease': 'COVID-19', 'Location': '', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total', 'Number': '98'}]
curr_score_ 2.4000000000000004
curr_score_hard 0
5
[{'Disease': 'Bird flu', 'Location': 'Alappuzha', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new', 'Number': '1500'}]
curr_score_ 0.8
curr_score_hard 0
6
[{'Disease': 'Swine Flu', 'Location': 'Pune', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new ', 'Number': '39'}]
curr_score_ 1.0
curr_score_hard 1
7
[{'Disease': 'Omicron', 'Location': 'Maharashtra', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '62'}]
curr_score_ 0.8
curr_score_hard 0
8
[{'Disease': '', 'Location': 'AP', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total', 'Number': '347'}, {'Disease': '', 'Location': 'AP', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'total', 'Number': '1'}]
curr_score_ 0.2
curr_score_hard 0
9
[{'Disease': 'Tomato flu', 'Location': 'India', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total', 'Number': '100'}, {'Disease': 'Tomata flu', 'Location': 'Kerala', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total', 'Number': ''}, {'Disease': 'Tomata flu', 'Location': 'Tamil Nadu', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total', 'Number': ''}, {'Disease': 'Tomata flu', 'Location': 'Odisha', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total', 'Number': ''}, {'Disease': 'Tomata flu', 'Location': 'Haryana', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total', 'Number': ''}]
curr_score_ 3.0
curr_score_hard 0
10
[{'Disease': 'Covid', 'Location': 'Bengal', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '309'}, {'Disease': 'Covid', 'Location': 'Bengal', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '279'}]
curr_score_ 2.0
curr_score_hard 2
11
[{'Disease': 'COVID', 'Location': 'India', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '10,112'}, {'Disease': 'COVID-19', 'Location': 'India', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total', 'Number': '4,48,91,989'}, {'Disease': 'COVID-19', 'Location': 'India', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'total', 'Number': '5,31,329'}, {'Disease': 'COVID-19', 'Location': 'India', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new', 'Number': '29'}, {'Disease': 'COVID-19', 'Location': 'Kerala', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new', 'Number': '7'}]
curr_score_ 4.8
curr_score_hard 4
12
[{'Disease': 'Covid', 'Location': 'Delhi', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '9'}]
curr_score_ 1.0
curr_score_hard 1
13
[{'Disease': 'tomato flu', 'Location': 'India', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total', 'Number': '82'}, {'Disease': 'Covid-19', 'Location': 'World', 'Incident (case or death)': 'case', 'Incident Type (new or total)': '', 'Number': ''}, {'Disease': 'monkeypox', 'Location': 'World', 'Incident (case or death)': 'case', 'Incident Type (new or total)': '', 'Number': ''}]
curr_score_ 2.0
curr_score_hard 0
14
[{'Disease': 'Covid 19', 'Location': 'India', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '18,930'}, {'Disease': 'Covid 19', 'Location': 'India', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total', 'Number': '1,20,000'}]
curr_score_ 1.0
curr_score_hard 1
15
[{'Disease': 'COVID-19', 'Location': 'Mizoram', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '33'}, {'Disease': 'COVID-19', 'Location': 'Mizoram', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total', 'Number': '2,27,794'}]
curr_score_ 2.0
curr_score_hard 2
16
[{'Disease': 'Covid-19', 'Location': 'Maharashtra', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '1,113'}, {'Disease': 'Covid-19', 'Location': 'Maharashtra', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total', 'Number': '81,59,506'}, {'Disease': 'Covid-19', 'Location': 'Maharashtra', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new', 'Number': '3'}]
curr_score_ 3.0
curr_score_hard 3
17
[{'Disease': 'COVID-19', 'Location': 'Erode', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '4'}, {'Disease': 'COVID-19', 'Location': 'Erode', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total', 'Number': '1,36,600'}]
curr_score_ 2.0
curr_score_hard 2
18
[{'Disease': 'Covid-19', 'Location': 'Madhya Pradesh', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '32'}, {'Disease': 'Covid-19', 'Location': 'Madhya Pradesh', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new', 'Number': '0'}]
curr_score_ 1.8
curr_score_hard 1
19
[{'Disease': 'COVID', 'Location': 'Nagaland', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '3'}, {'Disease': 'COVID', 'Location': 'Nagaland', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total', 'Number': '31,938'}]
curr_score_ 2.0
curr_score_hard 2
20
[{'Disease': 'Lumpy Skin Disease', 'Location': 'India', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total', 'Number': '7300'}]
curr_score_ 1.0
curr_score_hard 1
21
[{'Disease': 'dengue', 'Location': 'Mizoram', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new', 'Number': '2'}, {'Disease': 'dengue', 'Location': 'Manipur', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new', 'Number': '1'}, {'Disease': 'Chikungunya', 'Location': '', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '46'}, {'Disease': 'Chikungunya', 'Location': '', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total', 'Number': '70'}]
curr_score_ 3.6
curr_score_hard 2
22
[{'Disease': 'Lumpy skin disease', 'Location': 'Uttarakhand', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '19404'}, {'Disease': 'Lumpy skin disease', 'Location': 'Uttarkhand', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'total', 'Number': '321'}]
curr_score_ 1.6
curr_score_hard 0
23
[{'Disease': 'Diarrhea', 'Location': 'Ambikapur', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '4'}]
curr_score_ 0.6
curr_score_hard 0
24
[{'Disease': 'Corona', 'Location': 'Bilashpur', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '54'}]
curr_score_ 1.0
curr_score_hard 1
25
[{'Disease': 'Corona', 'Location': 'India', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '18313'}, {'Disease': 'Corona', 'Location': 'India', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total', 'Number': '43938764'}, {'Disease': 'Corona', 'Location': 'India', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new', 'Number': '57'}]
curr_score_ 3.0
curr_score_hard 3
26
[{'Disease': 'Corona', 'Location': 'Chhattisgarh', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '183'}, {'Disease': 'Corona', 'Location': 'Chhattisgarh', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total', 'Number': '1469'}]
curr_score_ 2.0
curr_score_hard 2
27
[{'Disease': 'Corona', 'Location': 'Nagpur', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '35'}]
curr_score_ 1.0
curr_score_hard 1
28
[{'Disease': 'Corona', 'Location': 'Karnal', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total', 'Number': '48184'}, {'Disease': 'Corona', 'Location': 'Karnal', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '5'}]
curr_score_ 2.0
curr_score_hard 2
29
[{'Disease': 'Corona', 'Location': 'Chhattisgarh', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '27'}]
curr_score_ 1.0
curr_score_hard 1
30
[{'Disease': 'Lumpy skin disease', 'Location': 'Nagaur', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'total', 'Number': '1655'}]
curr_score_ 1.0
curr_score_hard 1
31
[{'Disease': 'Corona', 'Location': 'Delhi', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '400'}, {'Disease': 'Corona', 'Location': 'Delhi', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total', 'Number': '1960'}]
curr_score_ 1.6
curr_score_hard 0
32
[{'Disease': 'COVID-19', 'Location': 'Delhi', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '400'}, {'Disease': 'COVID-19', 'Location': 'Delhi', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new', 'Number': '1'}, {'Disease': 'COVID-19', 'Location': 'Delhi ', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total', 'Number': '1960'}]
curr_score_ 2.8
curr_score_hard 2
33
[{'Disease': 'Corona', 'Location': 'India', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '24'}]
curr_score_ 0.8
curr_score_hard 0
34
[{'Disease': 'COVID-19', 'Location': '', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '24'}]
curr_score_ 0.8
curr_score_hard 0
35
[{'Disease': 'AES', 'Location': 'Bihar', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '12'}]
curr_score_ 0.4
curr_score_hard 0
36
[{'Disease': 'Acute Encephalitis Syndrome', 'Location': 'Muzaffarpur', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '1'}, {'Disease': 'Acute Encephalitis Syndrome', 'Location': 'Muzaffarpur', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new', 'Number': '1'}, {'Disease': 'Acute Encephalitis Syndrome', 'Location': 'Muzaffarpur', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total', 'Number': '12'}, {'Disease': 'Acute Encephalitis Syndrome', 'Location': 'Muzzaffarpur', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'total', 'Number': '2'}]
curr_score_ 2.8000000000000003
curr_score_hard 0
37
[{'Disease': 'Corona', 'Location': 'Rewari', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '14'}]
curr_score_ 1.0
curr_score_hard 1
38
[{'Disease': 'Corona', 'Location': 'India', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '906'}, {'Disease': 'Corona', 'Location': 'India', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new', 'Number': '20'}, {'Disease': 'Corona', 'Location': 'India', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'total', 'Number': '531814'}]
curr_score_ 2.4000000000000004
curr_score_hard 0
39
[{'Disease': 'Corona', 'Location': 'Kanpur', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '41'}, {'Disease': 'Corona', 'Location': 'Kanpur', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total', 'Number': '200'}]
curr_score_ 2.0
curr_score_hard 2
40
[{'Disease': 'H3N2 Influenza', 'Location': 'Pune', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': ''}, {'Disease': 'H3N2 Influenza ', 'Location': 'Pune ', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new', 'Number': '2'}, {'Disease': 'COVID-19', 'Location': 'Pune', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': ''}]
curr_score_ 2.6
curr_score_hard 1
41
[{'Disease': 'COVID-19', 'Location': 'India', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new ', 'Number': '12,608'}, {'Disease': 'COVID-19', 'Location': 'India', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new ', 'Number': '72'}]
curr_score_ 1.8
curr_score_hard 1
42
[{'Disease': 'COVID-19', 'Location': 'Chhattisgarh', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new ', 'Number': '104'}, {'Disease': 'COVID-19', 'Location': 'Chhattisgarh', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new ', 'Number': '2'}]
curr_score_ 2.0
curr_score_hard 2
43
[{'Disease': 'Diarrhea', 'Location': 'Rajasthan', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '174'}, {'Disease': 'Diarrhea', 'Location': 'Rajasthan', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new', 'Number': '2'}]
curr_score_ 1.6
curr_score_hard 0
44
[{'Disease': 'COVID-19', 'Location': 'Chattisgarh', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new ', 'Number': '360'}, {'Disease': 'COVID-19', 'Location': 'Chattisgarh', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new ', 'Number': '3'}, {'Disease': 'COVID-19', 'Location': 'Chhattisgarh', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total', 'Number': '1700'}, {'Disease': 'COVID-19', 'Location': '', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new', 'Number': '1'}]
curr_score_ 3.2
curr_score_hard 0
45
[{'Disease': 'Lumpy Skin', 'Location': 'Ratia', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '60'}]
curr_score_ 1.0
curr_score_hard 1
46
[{'Disease': 'Dengue', 'Location': 'Lucknow', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '14'}, {'Disease': 'Chikungunya', 'Location': 'Lucknow', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': ''}, {'Disease': 'Typhoid', 'Location': 'Lucknow', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': ''}, {'Disease': 'Malaria', 'Location': 'Lucknow', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': ''}, {'Disease': 'Viral Infections', 'Location': 'Lucknow', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': ''}, {'Disease': 'COVID-19', 'Location': 'Lucknow', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': ''}]
curr_score_ 5.0
curr_score_hard 1
47
[{'Disease': 'COVID-19', 'Location': 'India', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new ', 'Number': '20'}, {'Disease': 'COVID-19', 'Location': 'Kerala', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new', 'Number': '15'}]
curr_score_ 2.0
curr_score_hard 2
48
[{'Disease': 'MDR-TB', 'Location': 'Firozabad', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total', 'Number': '162'}]
curr_score_ 1.0
curr_score_hard 1
49
[{'Disease': 'COVID-19', 'Location': '', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new ', 'Number': '104'}, {'Disease': 'COVID-19', 'Location': '', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total ', 'Number': '326'}]
curr_score_ 1.2
curr_score_hard 0
50
[{'Disease': 'COVID-19', 'Location': 'India', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total', 'Number': '23,091'}, {'Disease': 'COVID-19', 'Location': 'India', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '4,435'}, {'Disease': 'COVID-19', 'Location': 'Chhattisgarh', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new', 'Number': '1'}, {'Disease': 'COVID-19', 'Location': 'Delhi', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new', 'Number': '1'}, {'Disease': 'COVID-19', 'Location': 'Gujarat', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new', 'Number': '1'}, {'Disease': 'COVID-19', 'Location': 'Haryana', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new', 'Number': '1'}, {'Disease': 'COVID-19', 'Location': 'Karnataka', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new', 'Number': '1'}, {'Disease': 'COVID-19', 'Location': 'Puducherry', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new', 'Number': '1'}, {'Disease': 'COVID-19', 'Location': 'Rajasthan', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new', 'Number': '1'}, {'Disease': 'COVID-19', 'Location': 'Maharashtra', 'Incident (case or death)': 'death', 'Incident Type (new or total)': 'new', 'Number': '4'}]
curr_score_ 7.2
curr_score_hard 0
51
[{'Disease': 'Chicken Pox', 'Location': 'Madhya Pradesh', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'new', 'Number': '31'}]
curr_score_ 0.8
curr_score_hard 0
52
[{'Disease': 'Dengue', 'Location': 'Madhya Pradesh', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total ', 'Number': '1246'}, {'Disease': 'Dengue', 'Location': 'Bhopal', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total ', 'Number': '271'}, {'Disease': 'Dengue', 'Location': 'Gwalior', 'Incident (case or death)': 'case', 'Incident Type (new or total)': 'total ', 'Number': '201'}]
curr_score_ 2.6
curr_score_hard 1
53

In [18]:
df_soft

     curr_score
0           4.0
1           1.0
2           3.6
3           2.0
4           2.4
..          ...
386         1.0
387         2.8
388         1.0
389         3.0
390         3.8

[391 rows x 1 columns]

In [19]:
df_hard

     curr_score_hard
0                  4
1                  1
2                  0
3                  2
4                  0
..               ...
386                1
387                0
388                1
389                0
390                3

[391 rows x 1 columns]

In [21]:
df_fil

,article,true_label,cleaned_true_labels,predicted_label
0,"Covid-19: India sees drop in daily cases, logs...","[{'Disease': 'Covid-19', 'Location': 'India ',...",NaN,"[\n {\n ""Disease"": ""Covid-19"",\n ""Locat..."
1,Indore Reports 10 Vector Borne Diseases In A W...,"[{'Disease': 'Dengue', 'Location': 'Indore', '...",NaN,"[{\n'Disease': 'dengue and malaria', \n'Locati..."
2,"India sees 30% rise in Covid tally with 2,786 ...","[{'Disease': 'Covid ', 'Location': 'India', 'I...",NaN,"[\n{\n""Disease"": ""COVID-19"",\n""Location"": ""Ind..."
3,"85 New Covid Cases Reported In City, Dist | Va...","[{'Disease': 'Covid', 'Location': 'Vadodara', ...",NaN,"[{'Disease': 'Covid-19', 'Location': 'Vadodara..."
4,COVID-19 cases rise to 98 due to institutional...,"[{'Disease': 'COVID-19', 'Location': 'Chennai ...",NaN,"[\n {\n ""Disease"": ""COVID-19"",\n ..."
...,...,...,...,...
386,Two more foreigners found Covid-19 positive in...,"[{'Disease': 'Covid-19', 'Location': 'Bodh Gay...",NaN,"[{'Disease': 'Covid-19', 'Location': 'Bodh Gay..."
387,corona cases in india today: Increased corona ...,"[{'Disease': 'Corona', 'Location': 'Kerela', '...",NaN,"[\n {\n 'Disease': 'Covid19',\n 'Locati..."
388,telangana corona cases: TS: New cases approach...,"[{'Disease': 'Corona', 'Location': 'Telangana'...",NaN,"[{\n""Disease"": ""Corona"",\n""Location"": ""Telanga..."
389,A thousand cases increased in 24 hours Prajasa...,"[{'Disease': 'Corona', 'Location': 'India', 'I...",NaN,"[{'Disease': 'Corona', 'Location': 'New Delhi'..."
390,Corona cases increased again in Telangana - On...,"[{'Disease': 'Corona', 'Location': 'Telangana'...",NaN,"[\n{""Disease"": ""Corona"", ""Location"": ""Telangan..."

In [22]:
soft=df_soft.iloc[:,0]
hard=df_hard.iloc[:,0]

In [23]:
soft

0      4.0
1      1.0
2      3.6
3      2.0
4      2.4
      ...
386    1.0
387    2.8
388    1.0
389    3.0
390    3.8
Name: curr_score, Length: 391, dtype: float64

In [24]:
result

,article,true_label,cleaned_true_labels,predicted_label
0,"Bus falls off bridge in Jharkhand; 6 killed, s...",[],NaN,The provided news article does not include any...
1,"11 killed, 10 injured as jeep rams into tracto...",[],NaN,[]
2,"Covid-19: India sees drop in daily cases, logs...","[{'Disease': 'Covid-19', 'Location': 'India ',...",NaN,"[\n {\n ""Disease"": ""Covid-19"",\n ""Locat..."
3,NaN,[],NaN,NaN
4,"On Children's Day-eve, top specialist says con...",[],NaN,"[{'Disease': 'congenital heart disease', 'Loca..."
...,...,...,...,...
699,Mumbai Terror Attacks: 14 years of carnage.. C...,[],NaN,The provided news article does not include any...
700,Corona cases increased again in Telangana - On...,"[{'Disease': 'Corona', 'Location': 'Telangana'...",NaN,"[\n{""Disease"": ""Corona"", ""Location"": ""Telangan..."
701,"IPL 2022, CSK Vs DC: Corona once again in IPL....",[],NaN,"[{""Disease"": ""Covid 19"", ""Location"": ""Delhi"", ..."
702,8 laborers died when the truck overturned. Bih...,[],NaN,[]
703,Fire in a 4-storey building.. People jumped fr...,[],NaN,[]

In [25]:
import pandas as pd


new_data = pd.DataFrame({
    'article': df_fil['article'],
    'true_label': df_fil['true_label'],
    'predicted_label(Chat_gpt)': df_fil['predicted_label'],
    'Soft_score':soft,
    'Hard_score':hard,
    
})

new_data.to_csv('Soft_Hard_Scores_Chat_gpt_1.csv', index=False)

In [29]:
data=pd.read_csv('Soft_Hard_Scores_Chat_gpt_1.csv')
data

,article,true_label,predicted_label(Chat_gpt),Soft_score,Hard_score
0,"Covid-19: India sees drop in daily cases, logs...","[{'Disease': 'Covid-19', 'Location': 'India ',...","[\n {\n ""Disease"": ""Covid-19"",\n ""Locat...",4.0,4
1,Indore Reports 10 Vector Borne Diseases In A W...,"[{'Disease': 'Dengue', 'Location': 'Indore', '...","[{\n'Disease': 'dengue and malaria', \n'Locati...",1.0,1
2,"India sees 30% rise in Covid tally with 2,786 ...","[{'Disease': 'Covid ', 'Location': 'India', 'I...","[\n{\n""Disease"": ""COVID-19"",\n""Location"": ""Ind...",3.6,0
3,"85 New Covid Cases Reported In City, Dist | Va...","[{'Disease': 'Covid', 'Location': 'Vadodara', ...","[{'Disease': 'Covid-19', 'Location': 'Vadodara...",2.0,2
4,COVID-19 cases rise to 98 due to institutional...,"[{'Disease': 'COVID-19', 'Location': 'Chennai ...","[\n {\n ""Disease"": ""COVID-19"",\n ...",2.4,0
...,...,...,...,...,...
386,Two more foreigners found Covid-19 positive in...,"[{'Disease': 'Covid-19', 'Location': 'Bodh Gay...","[{'Disease': 'Covid-19', 'Location': 'Bodh Gay...",1.0,1
387,corona cases in india today: Increased corona ...,"[{'Disease': 'Corona', 'Location': 'Kerela', '...","[\n {\n 'Disease': 'Covid19',\n 'Locati...",2.8,0
388,telangana corona cases: TS: New cases approach...,"[{'Disease': 'Corona', 'Location': 'Telangana'...","[{\n""Disease"": ""Corona"",\n""Location"": ""Telanga...",1.0,1
389,A thousand cases increased in 24 hours Prajasa...,"[{'Disease': 'Corona', 'Location': 'India', 'I...","[{'Disease': 'Corona', 'Location': 'New Delhi'...",3.0,0
390,Corona cases increased again in Telangana - On...,"[{'Disease': 'Corona', 'Location': 'Telangana'...","[\n{""Disease"": ""Corona"", ""Location"": ""Telangan...",3.8,3

Created disease.csv and applied on this.

In [18]:
import json
import ast
import numpy as np
import pandas as pd



total_score = 0
total_num_packets = 0
all_labels = []
total_packets_pred = 0
total_packets_true = 0
total_score_hard = 0
t_list = []
tr_list = []
ct = df_fil['predicted_label'].isna().sum()
df_soft = pd.DataFrame(columns=['curr_score'])
df_hard = pd.DataFrame(columns=['curr_score_hard'])
df_pred = pd.DataFrame(columns=['Pred'])
df_true = pd.DataFrame(columns=['True'])
N = len(df_fil)
city_df=pd.read_csv('city.csv')
disease_df = pd.read_csv('disease.csv')
def replace_location(label, city_df):
    for item in label:
        if 'Location' in item and item['Location'] is not None:
            location_value = item['Location']
           
            for index, row in city_df.iterrows():
                
                if pd.notna(row['variants']):
                   
                    variants = row['variants']
                    if isinstance(variants, str) and any(variant.strip().lower() == location_value.strip().lower() for variant in variants.split('|')):
                        
                        item['Location'] = row['value']
    return label
def replace_disease(label, disease_df):
    for item in label:
        if 'Disease' in item and item['Disease'] is not None:
            disease_value = item['Disease']
            for index, row in disease_df.iterrows():
                if pd.notna(row['variants']):
                    variants = row['variants']
                    if isinstance(variants, str) and any(variant.strip().lower() == disease_value.strip().lower() for variant in variants.split('|')):
                        item['Disease'] = row['value']
                        #print("Done",item['Disease'])
    return label




for i in range(N):
    if(i%10)==0:
        print(i)
    #print(df_fil['article'][i])


    modi = (df_fil['true_label'][i].replace("Incident (case or death)", "Incident").replace("Incident Type (new or total)", "Incident_Type"))

    if type(df_fil['predicted_label'][i]) == float:
        print(df_fil['predicted_label'][i])

    predicted_label_value = (df_fil['predicted_label'][i]).replace("\n", "").replace("\'", "\"").replace('unknown','').replace('Unspecified','')
    

    if predicted_label_value.strip() and "The given text does not contain information about any disease, therefore it does not fit the required format for extraction." not in predicted_label_value:
        try:
            Pred_labels = json.loads(predicted_label_value)
            t = str(Pred_labels)
            t_list = ast.literal_eval(t)

           
            for j in range(len(t_list)):
                for key, value in t_list[j].items():
                    # Check if the value is a string
                    if isinstance(value, str):
                        
                        t_list[j][key] = value.replace("'", "")
            
           
            Pred_labels = replace_location(t_list, city_df)

        except json.JSONDecodeError as e:
            Pred_labels = []
    else:
        Pred_labels = []

    
   
    
    tn = str(modi)
    tr_list = ast.literal_eval(tn)
    
    
    True_labels = replace_location(tr_list, city_df)
    tn1=str(True_labels)
    tr1_list=ast.literal_eval(tn1)
    True_labels = replace_disease(tr1_list, disease_df)
    
    tp1=str(Pred_labels)
    tp1_list=ast.literal_eval(tp1)
    Pred_labels=replace_disease(tp1_list,disease_df)
    
    #print("true_label: ",True_labels)
    #print("Pred_label: ",Pred_labels)
    curr_score = optimal_match_score(True_labels, Pred_labels, "soft")
    curr_score_hard = optimal_match_score(True_labels, Pred_labels, "hard")
    #print("curr_score_", curr_score)
    #print("curr_score_hard", curr_score_hard)
    total_packets_pred += max(1, len(Pred_labels))
    total_packets_true += max(1, len(True_labels))
    total_score += curr_score
    total_score_hard += curr_score_hard
    df_soft.loc[len(df_soft.index)] = [curr_score]

   
    df_hard.loc[len(df_hard.index)] = [curr_score_hard]
    df_pred.loc[len(df_pred.index)] = [Pred_labels]
    df_true.loc[len(df_true.index)] = [True_labels]

df_soft.to_csv('soft_scores.csv', index=False)
df_hard.to_csv('hard_scores.csv', index=False)

cumulative_score = total_score / total_packets_true
cumulative_score_hard = total_score_hard / total_packets_true
p, r, f = PRF2(cumulative_score, total_packets_true, total_packets_pred)
print("Average Soft-match score: ", cumulative_score)
print("Soft Precision: ", p)
print("Soft Recall: ", r)
print("Soft F1: ", f)

print("----------------------")

p, r, f = PRF2(cumulative_score_hard, total_packets_true, total_packets_pred)
print("Average Hard-match score: ", cumulative_score_hard)
print("Hard Precision: ", p)
print("Hard Recall: ", r)
print("Hard F1: ", f)

0

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
Average Soft-match score:  0.8441281138790027
Soft Precision:  0.7094715852442665
Soft Recall:  0.8441281138790027
Soft F1:  0.7709642470205842
----------------------
Average Hard-match score:  0.5860023724792408
Hard Precision:  0.49252243270189433
Hard Recall:  0.5860023724792408
Hard F1:  0.5352112676056339

In [19]:
df_pred

                                                  Pred
0    [{'Disease': 'corona', 'Location': 'India', 'I...
1    [{'Disease': 'dengue and malaria', 'Location':...
2    [{'Disease': 'corona', 'Location': 'India', 'I...
3    [{'Disease': 'corona', 'Location': 'Vadodara',...
4    [{'Disease': 'corona', 'Location': 'Chennai', ...
..                                                 ...
386  [{'Disease': 'corona', 'Location': 'Bodh Gaya'...
387  [{'Disease': 'corona', 'Location': 'India', 'I...
388  [{'Disease': 'corona', 'Location': 'Telangana'...
389  [{'Disease': 'corona', 'Location': 'New Delhi'...
390  [{'Disease': 'corona', 'Location': 'Telangana'...

[391 rows x 1 columns]

In [20]:
df_true

                                                  True
0    [{'Disease': 'corona', 'Location': 'India ', '...
1    [{'Disease': 'Dengue', 'Location': 'Indore', '...
2    [{'Disease': 'corona', 'Location': 'India', 'I...
3    [{'Disease': 'corona', 'Location': 'Vadodara',...
4    [{'Disease': 'corona', 'Location': 'Chennai', ...
..                                                 ...
386  [{'Disease': 'corona', 'Location': 'Bodh Gaya'...
387  [{'Disease': 'corona', 'Location': 'Kerela', '...
388  [{'Disease': 'corona', 'Location': 'Telangana'...
389  [{'Disease': 'corona', 'Location': 'India', 'I...
390  [{'Disease': 'corona', 'Location': 'Telangana'...

[391 rows x 1 columns]

In [23]:
soft=df_soft.iloc[:,0]
hard=df_hard.iloc[:,0]
pred=df_pred.iloc[:,0]
true=df_true.iloc[:,0]

In [24]:
pred

0      [{'Disease': 'corona', 'Location': 'India', 'I...
1      [{'Disease': 'dengue and malaria', 'Location':...
2      [{'Disease': 'corona', 'Location': 'India', 'I...
3      [{'Disease': 'corona', 'Location': 'Vadodara',...
4      [{'Disease': 'corona', 'Location': 'Chennai', ...
                             ...
386    [{'Disease': 'corona', 'Location': 'Bodh Gaya'...
387    [{'Disease': 'corona', 'Location': 'India', 'I...
388    [{'Disease': 'corona', 'Location': 'Telangana'...
389    [{'Disease': 'corona', 'Location': 'New Delhi'...
390    [{'Disease': 'corona', 'Location': 'Telangana'...
Name: Pred, Length: 391, dtype: object

In [25]:
true

0      [{'Disease': 'corona', 'Location': 'India ', '...
1      [{'Disease': 'Dengue', 'Location': 'Indore', '...
2      [{'Disease': 'corona', 'Location': 'India', 'I...
3      [{'Disease': 'corona', 'Location': 'Vadodara',...
4      [{'Disease': 'corona', 'Location': 'Chennai', ...
                             ...
386    [{'Disease': 'corona', 'Location': 'Bodh Gaya'...
387    [{'Disease': 'corona', 'Location': 'Kerela', '...
388    [{'Disease': 'corona', 'Location': 'Telangana'...
389    [{'Disease': 'corona', 'Location': 'India', 'I...
390    [{'Disease': 'corona', 'Location': 'Telangana'...
Name: True, Length: 391, dtype: object

In [26]:
import pandas as pd


new_data = pd.DataFrame({
    'article': df_fil['article'],
    'true_label': true,
    'predicted_label(Chat_gpt)': pred,
    'Soft_score':soft,
    'Hard_score':hard,
    
})

new_data.to_csv('Soft_Hard_Scores_Chat_gpt_final.csv', index=False)

In [27]:
data=pd.read_csv('Soft_Hard_Scores_Chat_gpt_final.csv')
data

,article,true_label,predicted_label(Chat_gpt),Soft_score,Hard_score
0,"Covid-19: India sees drop in daily cases, logs...","[{'Disease': 'corona', 'Location': 'India ', '...","[{'Disease': 'corona', 'Location': 'India', 'I...",4.0,4
1,Indore Reports 10 Vector Borne Diseases In A W...,"[{'Disease': 'Dengue', 'Location': 'Indore', '...","[{'Disease': 'dengue and malaria', 'Location':...",1.0,1
2,"India sees 30% rise in Covid tally with 2,786 ...","[{'Disease': 'corona', 'Location': 'India', 'I...","[{'Disease': 'corona', 'Location': 'India', 'I...",4.4,4
3,"85 New Covid Cases Reported In City, Dist | Va...","[{'Disease': 'corona', 'Location': 'Vadodara',...","[{'Disease': 'corona', 'Location': 'Vadodara',...",2.0,2
4,COVID-19 cases rise to 98 due to institutional...,"[{'Disease': 'corona', 'Location': 'Chennai', ...","[{'Disease': 'corona', 'Location': 'Chennai', ...",3.0,3
...,...,...,...,...,...
386,Two more foreigners found Covid-19 positive in...,"[{'Disease': 'corona', 'Location': 'Bodh Gaya'...","[{'Disease': 'corona', 'Location': 'Bodh Gaya'...",1.0,1
387,corona cases in india today: Increased corona ...,"[{'Disease': 'corona', 'Location': 'Kerela', '...","[{'Disease': 'corona', 'Location': 'India', 'I...",3.6,2
388,telangana corona cases: TS: New cases approach...,"[{'Disease': 'corona', 'Location': 'Telangana'...","[{'Disease': 'corona', 'Location': 'Telangana'...",1.0,1
389,A thousand cases increased in 24 hours Prajasa...,"[{'Disease': 'corona', 'Location': 'India', 'I...","[{'Disease': 'corona', 'Location': 'New Delhi'...",3.0,0
390,Corona cases increased again in Telangana - On...,"[{'Disease': 'corona', 'Location': 'Telangana'...","[{'Disease': 'corona', 'Location': 'Telangana'...",3.8,3